/* unique styles .scheme */
.scheme_align-content {
  gap: 20px;
  flex-grow: 1;
  align-content: center;
  padding-right: 20px;
  padding-left: 20px;
}

.scheme__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 33%;
  height: 33%;
}

/* unique styles .scheme__container */
.scheme__container_align-content {
  width: 100%;
  height: 100%;
  padding: 2%;
  column-gap: 2%;
  row-gap: 2%;
}

/* unique styles .scheme__item */
.scheme__item_align-content {
  width: 20%;
  height: 20%;
}

.scheme-container-align-content-flex-start {
  align-content: flex-start;
}

.scheme-container-align-content-flex-end {
  align-content: flex-end;
}

.scheme-container-align-content-center {
  align-content: center;
}

.scheme-container-align-content-stretch {
  align-content: stretch;
}

/* unique height */
.scheme-container-align-content-stretch .scheme__item {
  height: auto;
}

.scheme-container-align-content-space-between {
  align-content: space-between;
}

.scheme-container-align-content-space-around {
  align-content: space-around;
}
