:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-background-light: #043d40;
  --color-background-dark: #010b0d;
  --color-scrollbar-thumb: #064240;
  --color-theme-container: #0c7d74;
  --color-theme-items: #ffae00;
}
